@import "tailwindcss";

@theme {
  --color-primary: #181126;
  --color-secondary: #2D1F40;
  --color-objects: #42378C;
  --color-objects-2: #4E41A6;
  --color-accentuate: #D98B79;
  --color-text-primary: #EAEAF0;
  --color-text-secondary: #B8B5C9;
  --color-text-disabled: #6B6785;
  --color-text-on-accentuate: #181126;

  --font-sans: 'DM Sans', sans-serif;
  --font-display: 'Syne', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181126;
  color: #EAEAF0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}
